@charset "UTF-8";

.fa {
  display: inline-block;
  font: 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
}

@font-face {
  font-family: 'FontAwesome';
  src: url(/Custom/Content/Themes/Mobile/Fonts/fontawesome-webfont.eot?v=4.3.0);
  src: url(/Custom/Content/Themes/Mobile/Fonts/fontawesome-webfont.eot?#iefix&v=4.3.0) format("embedded-opentype"),url(/Custom/Content/Themes/Mobile/Fonts/fontawesome-webfont.woff?v=4.3.0) format("woff"),url(/Custom/Content/Themes/Mobile/Fonts/fontawesome-webfont.ttf?v=4.3.0) format("truetype"),url(/Custom/Content/Themes/Mobile/Fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular) format("svg");
  font-weight: 400;
  font-style: normal;
}

.btn,
button {
  outline: none;
  background-color: #525252;
  color: #fff;
  border: none;
  border-color: #4a4a4a;
  position: relative;
  padding: .6em .8em;
  line-height: 1.2em;
  display: inline-block;
  text-align: center;
}

.btn.btn-text,
button.btn-text {
  color: #525252;
}

.btn:last-child,
button:last-child {
  margin-bottom: 1px;
}

.btn-text {
  background: 0 0;
  border: none;
}

.btn-wide {
  width: 100%;
}

.btn,
button {
  font-size: 1.28571em;
  border-radius: 0;
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
}

.btn-text {
  font-size: 1em;
  text-shadow: none;
}

a {
  color: #525252;
  text-decoration: none;
}

small {
  font-size: .85714em;
}

.row {
  padding: 0 15px 12px;
  max-width: none;
}

#middle {
  overflow-x: hidden;
}

#middle {
  min-width: 0;
  width: auto;
  padding: 0;
  max-width: 1000px;
  margin: 0 auto;
}

.badge {
  background: #666;
  color: #fff;
  font-size: inherit;
  border-radius: 12px;
  text-shadow: none;
  text-align: center;
  display: inline-block;
  line-height: 18px;
  height: 18px;
  min-width: 18px;
  white-space: nowrap;
  vertical-align: middle;
  font-weight: 400;
  padding: 0 6px;
}

body,
html {
  font-size: 14px;
}

body {
  letter-spacing: 0;
  min-width: 320px;
  -webkit-transform: none;
  transform: none;
}

.inner-wrap {
  width: auto;
  box-sizing: border-box;
  padding-top: 0;
}

input[type=text] {
  font-family: inherit;
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
  color: #333;
  display: block;
  margin: 0;
  padding: 0 .75em;
  width: 100%;
  height: 38px;
}

input[type=text] {
  border-radius: 0;
}

#header--navbar {
  position: relative;
  z-index: 20;
  background: #fff;
  padding: 10px 15px;
}

.header-icons {
  width: 45%;
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 11px 17px 0 0;
}

.header-icons::after {
  clear: both;
  content: "";
  display: table;
}

.header-icons a {
  width: 40px;
  height: 38px;
  line-height: 38px;
  color: #525252;
  text-decoration: none;
  font-size: 28px;
  margin-left: 6px;
  text-align: center;
  padding: 0;
  position: relative;
  display: inline-block;
  float: left;
}

.header-icons a .fa-heart {
  font-size: 27px;
}

.header-icons .badge {
  position: absolute;
  top: 17px;
  left: 4px;
  font-size: 11px;
  background-color: #ff1b36;
  border: 1px solid #fff;
  line-height: 16px;
  height: 18px;
}

.header-icons .basket-empty .badge,
.header-icons .user-profile .badge {
  display: none;
}

.logo--header {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  margin: 0 45% 0 37px;
  height: 40px;
  line-height: 2em;
}

.logo--header a {
  display: block;
  height: 100%;
  margin: 0 15px 0 0;
}

.logo--header img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.logo--header a {
  position: relative;
}

.row.search {
  padding-left: 0;
  padding-right: 0;
}

.search--header,
.wd-search {
  position: relative;
}

.search--header form::after,
.search--header::after,
.wd-search form::after,
.wd-search::after {
  clear: both;
  content: "";
  display: table;
}

.search--header .input-wrapper,
.wd-search .input-wrapper {
  height: 46px;
  position: relative;
  padding-right: 46px;
  margin-right: 0;
  border-radius: 0;
}

.search--header .input-wrapper input,
.wd-search .input-wrapper input {
  padding: 0 15px;
  width: 100%;
  height: inherit;
  border-radius: 0;
  background: #f8f8f8;
  border: 1px solid #d6d6d6;
  border-right: none;
}

.search--header button,
.wd-search button {
  height: 46px;
  width: 46px;
  position: absolute;
  top: 0;
  right: 0;
  background: #525252;
  text-align: center;
  border-color: #525252;
  color: #fff;
  padding: 0;
  border-radius: 0;
  font-size: 0;
}

.search--header button::before,
.wd-search button::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 22px;
  line-height: 22px;
  width: 20px;
  content: "\f002";
  font-family: FontAwesome;
  font-size: 18px;
  font-weight: 700;
}

.search--header .suggestion-box,
.wd-search .suggestion-box {
  z-index: -5;
  background: #fff;
}

.banner--home {
  min-height: 100px;
  text-align: center;
  position: relative;
}

.banner--home .preloader-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}

.banner--home .preloader {
  display: none;
}

.banner--home a {
  display: block;
  height: inherit;
  overflow: hidden;
}

.banner--home .banner-wrapper {
  height: inherit;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain!important;
}

.banner--home .banner-wrapper img {
  visibility: hidden;
}

.wd-product-wishlist .modal {
  display: none;
}

.wd-product-wishlist .has-product-in-wishlist {
  display: none;
  border: 1px solid #ddd;
  background-color: #eee;
  padding: 6px;
  margin-bottom: 20px;
}

.form-modal-wishlist {
  min-width: 500px;
}

.form-modal-wishlist label {
  width: 150px;
}

.form-modal-wishlist .input-wrapper input {
  width: 40px;
}

.grid_wishlist .wd-product-wishlist .has-product-in-wishlist {
  border: none;
  background: 0 0;
}

.btn-product-wishlist-yes:before {
  content: "\f004";
  margin-right: .5em;
  font-family: 'FontAwesome';
}

.grid_wishlist .btn {
  background: #fff;
  text-align: center;
  padding: 0;
  height: 30px;
  line-height: 30px;
  width: 30px;
  border-radius: 50%;
}

.grid_wishlist .btn::before {
  margin-right: 0;
}

.version--footer ul li {
  float: left;
  list-style: none;
  margin: 0 5px;
  font-size: 11px;
}

.version--footer ul li.mobile {
  display: none;
}

body.loading,
body.loading:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

body.loading {
  overflow: hidden;
  min-height: 100%;
}

body.loading:before {
  -webkit-animation: loading .3s;
  animation: loading .3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  content: "";
  opacity: 1;
  position: absolute;
  z-index: 200;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  margin-top: -40px;
  top: 50%;
  left: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

body.loading:after {
  content: '';
  background: rgba(244,244,244,.8);
  height: 100%;
  z-index: 199;
  opacity: 1;
}

body.loading::after,
body.loading::before {
  position: fixed;
}

#main {
  -webkit-animation: slidein .3s;
  animation: slidein .3s;
}

@-webkit-keyframes slidein {
  0% {
    -webkit-transform: translateX(30%);
    opacity: 0;
  }

  to {
    -webkit-transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slidein {
  0% {
    -webkit-transform: translateX(30%);
    transform: translateX(30%);
    opacity: 0;
  }

  to {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
}

@-webkit-keyframes loading {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50%);
  }

  to {
    -webkit-transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes loading {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }

  to {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
}

#main-menu li {
  list-style: none;
  padding: 0;
}

#main-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#main-menu li .open-sub-section i {
  float: right;
}

#main-menu {
  position: absolute;
  top: 0;
  left: -100%;
  width: 80%;
  background-color: #5c5c5c;
  height: 100vh;
  z-index: 10000;
  overflow-y: auto;
  overflow-x: hidden;
}

#hamburger-button,
#main-menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main-menu li {
  border-bottom: 1px solid rgba(255,255,255,.3);
  margin: 0;
  font-size: 1em;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#main-menu li.back {
  background-color: #6c6c6c;
}

#main-menu li a {
  padding: 15px 10px 12px;
  color: #fff;
  display: block;
  width: 100%;
}

#main-menu li a i {
  padding: 0 5px;
}

#hamburger-button {
  display: block;
  height: 52px;
  line-height: 40px;
  font-size: 28px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #525252;
}

#hamburger-button {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 15px;
}
